body {
	margin: 0px;
}
.clear {
	clear:both;
}
.wrap {
	border: 1px solid #777;
	background: #eee;
}
.brd {
	border: 1px solid #777;
}
.head {
	height: 140px;
	background: #ddd;
}
.head_pic {
	height: 100px;
}
.head_menu {
	height: 38px;
	background: #aaa;
	text-align: center;
}
.he_mn li {
	display: inline;
}
.he_mn li:hover a {
	color: red;
}

.left {
	float: left;
	width: 200px;
}
.right {
	margin-left: 215px;
    padding: 15px;
}
.foot {
	height: 150px;
	background: #999;
}
